.view-btn{
    width: 40%;
    background:#000 !important;
    border: 1px solid  rgb(229, 9, 20) !important;
    color: rgb(229, 9, 20) !important;
}
.view-btn:hover{
    background-color: rgb(229, 9, 20) !important;
    color: #fff !important;
    border: 1px solid  rgb(229, 9, 20) !important;
}
.flex{
    display: flex;
    justify-content: center;
}
.box{
    background-color: #000 !important;
    border: none !important;
}
.modal-box{
    width: 100%;
}
/* .modal{
    --bs-modal-width:60% !important 
} */
.modal-dialog{
    max-width: 70% !important; 
    margin-right: none !important;
    margin-left: none !important;
}
.modal-body{
    padding: 0 !important;

}
.modal-header{
    background-color: #000 !important;
    
    border: none !important;
}
@media(max-width:800px){
    .modal-dialog{
        max-width: 90% !important; 
        margin-right: none !important;
        margin-left: none !important;
    }
}
/* .btn-close{
    --bs-btn-close-focus-shadow:0 0 0 0.25rem #0d6efd40 !important;
    background: #0000 var(--bs-btn-close-bg) center/1em auto no-repeat !important;
} */