.pagination {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: #000;
    padding: 5%;
    > * {
      cursor: pointer;
    }
  }
  
  .pagination__link {
    transition: all 0.25s;
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
  }
  .page-item{
    background-color: #000;
  }
  .page-link-b{
    background-color: #000;
    border: none;
    color: #ea0707;
  }
  .active {
    background-color:#ea0707;
    color: #fff;
  }
  .link-active{
    background-color:#ea0707;
    color: #fff;
  }