a{
    text-decoration: none;
    padding: 8px;
    
}
.bg-body-tertiary {
    background-color: #141414 !important;
}
.nav-font{
    color: #e5e5e5;
}
.netflix-logo{
    width: 100px;
    height: 35px;
}
.search-btn{
    background:#141414 ;
    border: 1px solid  rgb(229, 9, 20);
    color: rgb(229, 9, 20);
}
.search-btn:hover{
    background-color: rgb(229, 9, 20);
    color: #fff;
    border: 1px solid  rgb(229, 9, 20);
}
.nav-font:hover{
    color: #fff;
}